# dependencies
node_modules/

# env / secrets
.env
.env.*
*.env
!.env.example
apps/mobile/google-services.json
apps/mobile/GoogleService-Info.plist

# Expo / React Native build output
.expo/
dist/
web-build/

# Firebase
.firebase/
lib/

# logs
*.log

# OS / editor
.DS_Store
Thumbs.db
.idea/
